@import "../../styles/variables.scss";

$primary-color: #2563eb;
$primary-hover-color: #1e4bbf;
$primary-focus-color: #2563eb;
$primary-active-color: #1c4bae;
$primary-disabled-background-color: #f3f4f6;
$primary-disabled-text-color: #c4c4c4;

$outline-border-color: #2563eb;
$outline-hover-background-color: #f1f5f8;
$outline-hover-border-color: #1e4bbf;
$outline-active-background-color: #d2e3fc;
$outline-disabled-background-color: transparent;
$outline-disabled-border-color: #c4c4c4;
$outline-disabled-text-color: #c4c4c4;

$danger-color: #dc2626;
$danger-hover-color: #b21b1b;
$danger-focus-color: #dc2626;
$danger-active-color: #a41a1a;
$danger-disabled-background-color: #f3f4f6;
$danger-disabled-text-color: #c4c4c4;

$success-color: #4bb543;
$success-hover-color: #3a9338;
$success-focus-color: #4bb543;
$success-active-color: #378c35;
$success-disabled-background-color: #f3f4f6;
$success-disabled-text-color: #c4c4c4;

.btn {
  padding: 1.6rem 2.4rem;
  background: transparent;
  border: none;

  font-size: 1.25rem;
  line-height: 1.75rem;

  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  align-items: center;
  text-align: center;
  border-radius: 0.75rem;

  &:disabled {
    pointer-events: none;
  }

  &--primary {
    background-color: $primary-color;
    color: #ffffff;

    &:hover {
      background-color: $primary-hover-color;
    }

    &:focus {
      outline-color: $primary-focus-color;
    }

    &:active {
      background-color: $primary-active-color;
    }

    &:disabled {
      background-color: $primary-disabled-background-color;
      color: $primary-disabled-text-color;
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $outline-border-color;
    color: $outline-border-color;

    &:hover {
      background-color: $outline-hover-background-color;
      border-color: $outline-hover-border-color;
    }

    &:focus {
      outline-color: $outline-border-color;
    }

    &:active {
      background-color: $outline-active-background-color;
      border-color: $outline-hover-border-color;
    }

    &:disabled {
      background-color: $outline-disabled-background-color;
      border-color: $outline-disabled-border-color;
      color: $outline-disabled-text-color;
    }
  }

  &--danger {
    background-color: $danger-color;
    color: #ffffff;

    &:hover {
      background-color: $danger-hover-color;
    }

    &:focus {
      outline-color: $danger-focus-color;
    }

    &:active {
      background-color: $danger-active-color;
    }

    &:disabled {
      background-color: $danger-disabled-background-color;
      color: $danger-disabled-text-color;
    }
  }

  &--success {
    background-color: $success-color;
    color: #ffffff;

    &:hover {
      background-color: $success-hover-color;
    }

    &:focus {
      outline-color: $success-focus-color;
    }

    &:active {
      background-color: $success-active-color;
    }

    &:disabled {
      background-color: $success-disabled-background-color;
      color: $success-disabled-text-color;
    }
  }

  &--sm {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }

  &--md {
    border-radius: 0.8rem;
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
  }

  &--lg {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }

  &--loading {
    opacity: 0.7;
    pointer-events: none;
  }
}

.spinner {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #63636300;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-loading-block {
  display: flex;
  align-items: center;
  gap: 12px;
}
