@import "../../styles/variables.scss";

$bg-color--primary: $blue3;
$text-color--primary: $white;
$border-color--primary: $blue3;
$bg-color--primary--hover: $blue4;
$bg-color--primary--focus: $blue2;
$bg-color--primary--active: $blue2;
$bg-color--primary--disabled: $gray4;
$text-color--primary--disabled: $gray3;

$bg-color--outline: transparent;
$text-color--outline: $blue3;
$border-color--outline: $blue3;
$bg-color--outline--hover: $blue4;
$bg-color--outline--focus: $blue2;
$bg-color--outline--active: $gray5;
$bg-color--outline--disabled: $gray4;
$text-color--outline--disabled: $gray3;

$bg-color--success: $green3;
$text-color--success: $white;
$border-color--success: $green3;
$bg-color--success--hover: $green4;
$bg-color--success--focus: $green2;
$bg-color--success--active: $green2;
$bg-color--success--disabled: $gray4;
$text-color--success--disabled: $gray3;

$bg-color--warning: $orange3;
$text-color--warning: $white;
$border-color--warning: $orange3;
$bg-color--warning--hover: $orange4;
$bg-color--warning--focus: $orange2;
$bg-color--warning--active: $orange2;
$bg-color--warning--disabled: $gray4;
$text-color--warning--disabled: $gray3;

$bg-color--danger: $red3;
$text-color--danger: $white;
$border-color--danger: $red3;
$bg-color--danger--hover: $red4;
$bg-color--danger--focus: $red2;
$bg-color--danger--active: $red2;
$bg-color--danger--disabled: $gray4;
$text-color--danger--disabled: $gray3;

.btn {
  padding: 1.6rem 2.4rem;
  background: transparent;
  border: none;
  font-size: 1.25rem;
  line-height: 1.75rem;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  text-align: center;
  border-radius: 0.75rem;

  &:disabled {
    pointer-events: none;
  }

  &--primary {
    background-color: $bg-color--primary;
    color: $text-color--primary;
    border-color: $border-color--primary;

    &:hover {
      background-color: $bg-color--primary--hover;
    }

    &:focus {
      outline-color: $bg-color--primary--focus;
    }

    &:active {
      background-color: $bg-color--primary--active;
    }

    &:disabled {
      background-color: $bg-color--primary--disabled;
      color: $text-color--primary--disabled;
    }
  }

  &--outline {
    background-color: transparent;
    color: $text-color--outline;
    border: none;

    box-shadow: inset 0 0 0 2px $border-color--outline;

    &:hover {
      box-shadow: inset 0 0 0 2px $bg-color--outline--hover;
    }

    &:focus {
      outline-color: $bg-color--outline--focus;
    }

    &:active {
      background-color: $bg-color--outline--active;
    }

    &:disabled {
      box-shadow: inset 0 0 0 2px $bg-color--outline--disabled;
      color: $text-color--outline--disabled;
    }
  }

  &--success {
    background-color: $bg-color--success;
    color: $text-color--success;
    border-color: $border-color--success;

    &:hover {
      background-color: $bg-color--success--hover;
    }

    &:focus {
      outline-color: $bg-color--success--focus;
    }

    &:active {
      background-color: $bg-color--success--active;
    }

    &:disabled {
      background-color: $bg-color--success--disabled;
      color: $text-color--success--disabled;
    }
  }

  &--warning {
    background-color: $bg-color--warning;
    color: $text-color--warning;
    border-color: $border-color--warning;

    &:hover {
      background-color: $bg-color--warning--hover;
    }

    &:focus {
      outline-color: $bg-color--warning--focus;
    }

    &:active {
      background-color: $bg-color--warning--active;
    }

    &:disabled {
      background-color: $bg-color--warning--disabled;
      color: $text-color--warning--disabled;
    }
  }

  &--danger {
    background-color: $bg-color--danger;
    color: $text-color--danger;
    border-color: $border-color--danger;

    &:hover {
      background-color: $bg-color--danger--hover;
    }

    &:focus {
      outline-color: $bg-color--danger--focus;
    }

    &:active {
      background-color: $bg-color--danger--active;
    }

    &:disabled {
      background-color: $bg-color--danger--disabled;
      color: $text-color--danger--disabled;
    }
  }

  &--sm {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }

  &--md {
    border-radius: 0.8rem;
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
  }

  &--lg {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }

  &--loading {
    opacity: 0.7;
    pointer-events: none;
  }
}
