$black: #111418;
$white: #ffffff;
$gray1: #5f6b7c;
$gray2: #738091;
$gray3: #8f99a8;
$gray4: #abb3bf;
$gray5: #c5cbd3;
$blue1: #184a90;
$blue2: #215db0;
$blue3: #2d72d2;
$blue4: #4c90f0;
$blue5: #8abbff;
$green1: #165a36;
$green2: #1c6e42;
$green3: #238551;
$green4: #32a467;
$green5: #72ca9b;
$orange1: #77450d;
$orange2: #935610;
$orange3: #c87619;
$orange4: #ec9a3c;
$orange5: #fbb360;
$red1: #8e292c;
$red2: #ac2f33;
$red3: #cd4246;
$red4: #e76a6e;
$red5: #fa999c;
